@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Wmca.Models.Content;
@using Umbraco.Cms.Core.Models

@{
    var contentTypeAliases = new[] { "siteProperties", "sitePropertiesCia" }; // set the settings document type
    var content = (ContentModels.NavigationItem)Model.Content;
    var settings = (ContentModels.NavigationItem)Model.Settings;
    var link = content.Value<Link>("link");
    var contentItem = Umbraco.AssignedContentItem;
    var homePage = contentItem.Root(); // Get the homepage
    var siteSet = homePage.Children.Where(x => contentTypeAliases.Contains(x.ContentType.Alias)).First(); @* Get the site setings *@
}

<li class="ds-mega-menu__primary-menu-item">
    @if (link != null)
    {
        <a target="@link.Target" href="@link.Url" class="ds-mega-menu__primary-menu-link">
            @content.Value("title")
        </a>
    }
    else
    {
        <button target="_self" class="ds-mega-menu__primary-menu-link">
            @content.Value("title")
        </button>
    }

    @if(content.ChildLinks.Count != 0){
    <!-- arrow icon for mobile nav -->
    <button class="ds-mega-menu__link-arrow-icon-btn" data-label=" @content.Value("title")" aria-label="toggle @content.Value("title")" aria-controls="ds-primary-menu-container-@content.GetHashCode().ToString()">
        <svg class="ds-mega-menu__link-arrow-icon">
            <use xlink-href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
        </svg>
    </button>
    }
    
    @* Show mega menu if there are child links *@
    @if(content.ChildLinks.Count != 0){
    <!-- Start mega menu container -->
    <div id="ds-primary-menu-container-@content.GetHashCode().ToString()" class="ds-mega-menu__container">
            <div class="ds-container">
                <ul class="ds-mega-menu__sub-menu ds-mega-menu__sub-menu--has-child-menus">
                    @Html.GetBlockListHtml(content.ChildLinks)
                </ul>
            </div>
    </div>
    }
</li>
