@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Wmca.Models.Content;
@using Umbraco.Cms.Core.Models

@{
    var contentTypeAliases = new[] { "siteProperties", "sitePropertiesCia" }; // set the settings document type
    var content = (ContentModels.NavigationSubsection)Model.Content;
    var settings = (ContentModels.NavigationSubsection)Model.Settings;
    var contentItem = Umbraco.AssignedContentItem;
    var homePage = contentItem.Root(); // Get the homepage
    var siteSet = homePage.Children.Where(x => contentTypeAliases.Contains(x.ContentType.Alias)).First(); @* Get the site setings *@
    var siteProps = Umbraco.ContentAtRoot().FirstOrDefault().Children().Where(x => x.ContentType.Alias == "siteProperties");
    var siteProperties = siteProps.First();
    var showSubLinks = false; @* Placeholder var to detrmine if to show footer based on if we can access its contents *@
    var header = siteProps.First().Children.Where(x => x.ContentType.Alias == "header"); @* As siteProps exists, get any docType with the alias header. If not found, will return a null *@

    @* Check siteProps to see if it returns anything... *@
    if (siteProps.Any())
    {

        @* Check footer to see if it returns anything *@
        if (header.Any())
        {
            showSubLinks = true; @* If so, we can show our footer and it's props *@
        }
    }

    var links = content.Value<IEnumerable<Link>>("subsectionLinks");
}

            <!-- Start submenu (level 2) -->
                <li class="ds-mega-menu__sub-menu-item">
                    @if (content.SubsectionName != "")
                        {
                        <span class="ds-mega-menu__sub-menu-link">
                            @if (content.SubsectionIcon != "")
                            {
                                <!-- Show submenu (level 2) item icon if specified -->
                                <svg class="ds-mega-menu__sub-menu-link-icon">
                                    <use xlink:href="#ds-@content.SubsectionIcon" href="#ds-@content.SubsectionIcon"></use>
                                </svg>
                            }

                            @{
                                var link = content.Value<Link>("subsectionLink");
                                if (link != null)
                                {
                                    <a href="@link.Url" target="@link.Target">@content.SubsectionName</a>
                                }
                                else
                                {
                                    @content.SubsectionName
                                }
                            }
                        </span>
                        }
                        @if (links.Any()){
                        <!-- collapse button for mobile nav level 3 menu items -->
                        <button class="ds-mega-menu__collapse-toggle" aria-expanded="false" aria-label="Toggle @content.SubsectionName menu" aria-controls="ds-primary-menu-submenu-child-menu-@links.GetHashCode().ToString()">
                            <svg class="ds-mega-menu__link-arrow-icon">
                                <use xlink-href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
                            </svg>
                        </button>
                        }
                        
                        <!-- Start submenu child (level 3) list -->
                        <ul id="ds-primary-menu-submenu-child-menu-@links.GetHashCode().ToString()" class="ds-mega-menu__sub-menu-child-menu">
                            @if (links.Any())
                            {
                                @foreach (var link in links)
                                {
                                <li class="ds-mega-menu__sub-menu-child-item">
                                    <a href="@link.Url" target="@link.Target" class="ds-mega-menu__sub-menu-child-link">
                                        @link.Name
                                    </a>
                                </li>
                                }
                            }
                        </ul>
                        <!-- End submenu child (level 3) list -->
                    </li>