@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Wmca.Models.Content;
@using Umbraco.Cms.Core.Models

@{
    var homePage = Model.AncestorOrSelf(1); @* Get the homepage *@
    var siteProps = homePage.ChildrenOfType("siteProperties"); @* Get site properties by docType will return null if not found *@
    var siteSet = homePage.Children.Where(x => x.ContentType.Alias == "siteProperties").First(); @* Get the site setings *@
    var bannerImage = Model.Value<IPublishedContent>("image");
    string mainImageUrl = bannerImage != null ? @bannerImage.GetCropUrl("Banner") : "/media/buxh4qmn/viewofbirmingham.jpg";
    var pos = Model.Value("imagePosition");
    string position = "center";

    if (pos != null)
    {
        position = pos.ToString().ToFirstLower();
    }
}

<header class="ds-page-header  ds-page-header__home" style="background-image: url( @mainImageUrl?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000);background-position: @position">
    <div class="ds-container ds-page-header-container">
        <div class="ds-page-header-box">
            <h1>@Model.Value("tagLine")</h1>
            @if (@Model.Value("subtitle") != null)
            {
                @Model.Value("subtitle")
            }
        </div>
    </div>
</header>