@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Wmca.Models.Content;
@using Umbraco.Cms.Core.Models

@{
    var contentTypeAliases = new[] { "siteProperties", "sitePropertiesCia" }; // set the settings document type
    var homePage = Model.AncestorOrSelf(1); @* Get the homepage *@
    var siteProps = homePage.ChildrenOfType("siteProperties"); @* Get site properties by docType will return null if not
found *@
    var siteSet = homePage.Children.Where(x => contentTypeAliases.Contains(x.ContentType.Alias)).First(); @* Get the site
setings *@
    var dsSlug = siteSet.Value<string>("designSystemSlug");
    var bannerImage = Model.Value<IPublishedContent>("image");
    string mainImageUrl = bannerImage != null ? @bannerImage.GetCropUrl("Banner") : "/media/buxh4qmn/viewofbirmingham.jpg";
    var pos = Model.Value("imagePosition");
    string position = "center";
    string templateContainer = "";
    string template = "";

    if (pos != null)
    {
        position = pos.ToString().ToFirstLower();
    }

    if (dsSlug == "ciads")
    {
        templateContainer = "ds-page-header-container-pattern-two";
        template = "ds-page-header-box-pattern-two";
    }
}

<header class="ds-page-header"
    style="background-image: url( @mainImageUrl?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000);background-position: @position">
    <div class="ds-container ds-page-header-container @templateContainer">
        <div class="ds-page-header-box @template">
            <h1>@Model.Value("tagLine")</h1>
            @if (@Model.Value("subtitle") != null)
            {
                @Model.Value("subtitle")
            }
            @if (dsSlug == "ciads")
            {
                var linkLeft = Model.Value<Link>("leftButtonLink");
                var linkRight = Model.Value<Link>("rightButtonLink");

                if (linkLeft != null)
                {
                    <a href="@linkLeft.Url" title="This is a call to action link" target="@linkLeft.Target"
                        class="ds-btn ds-btn--primary">@linkLeft.Name @if (@Model.Value("leftButtonIcon") !=
                null)
                        {
                            @Model.Value("leftButtonIcon")
                        }</a>
                }
                if (linkRight != null)
                {
                    <a href="@linkRight.Url" title="This is a call to action link" target="@linkRight.Target"
                        class="ds-btn ds-btn--secondary">@linkRight.Name @if (@Model.Value("rightButtonIcon") !=
                null)
                        {
                            @Model.Value("rightButtonIcon")
                        }</a>
                }
            }
        </div>
    </div>
    <div class="ds-page-header-box ds-page-header-box-pattern-two-bottom">
        <h1>@Model.Value("tagLine")</h1>
        @if (dsSlug == "ciads")
        {
            var linkLeft = Model.Value<Link>("leftButtonLink");
            var linkRight = Model.Value<Link>("rightButtonLink");

            if (linkLeft != null)
            {
                <a href="@linkLeft.Url" title="This is a call to action link" target="@linkLeft.Target"
                    class="ds-btn ds-btn--primary">@linkLeft.Name @if (@Model.Value("leftButtonIcon") !=
            null)
                    {
                        @Model.Value("leftButtonIcon")
                    }</a>
            }
            if (linkRight != null)
            {
                <a href="@linkRight.Url" title="This is a call to action link" target="@linkRight.Target"
                    class="ds-btn ds-btn--secondary">@linkRight.Name @if (@Model.Value("rightButtonIcon") !=
            null)
                    {
                        @Model.Value("rightButtonIcon")
                    }</a>
            }
        }
    </div>
</header>