@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var contentTypeAliases = new[] { "siteProperties", "sitePropertiesCia", "areaPropertiesCia"  }; // set the settings document type
    var contentTypeAliasesFooter = new[] { "footer", "footerCia", "footerAreaCia" }; // set the footer document type
    var homePage = Model.AncestorOrSelf(1); @* Get the homepage *@
    var homepageTemplate = homePage.GetTemplateAlias(); @* Get the name of the template *@
    var areaPage = Model.AncestorOrSelf(2); @* Get the cia area homepage *@
    var siteProps = homePage.ChildrenOfType("siteProperties", "sitePropertiesCia" ); @* Get site properties by docType will return null if not found *@
    var siteSet = homePage.Children.Where(x => contentTypeAliases.Contains(x.ContentType.Alias)).First(); @* Get the site setings *@
    var siteSetFooter= homePage.Children.Where(x => contentTypeAliases.Contains(x.ContentType.Alias)).First(); @* Get the site setings *@
    if(homepageTemplate == "HomepageChangeIntoAction"){
        siteSetFooter = areaPage.Children.Where(x => contentTypeAliases.Contains(x.ContentType.Alias)).First();
    }
}

@if (siteSet != null)
{
    var siteSettings = siteSet.Children.Where(x => contentTypeAliasesFooter.Contains(x.ContentType.Alias)).First();@* get default footer from site root - Default will be used as fallback *@
    var footer = siteSetFooter.Children.Where(x => contentTypeAliasesFooter.Contains(x.ContentType.Alias)).First();@* get custom footer from region root *@
    @* @Model.Value("facebookLink", fallback: Fallback.ToDefaultValue, defaultValue: new HtmlString("/")) *@
    @* Column 1 *@
    var col1Title = footer.Value<String>("column1Title", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<String>("column1Title"));
    var content = footer.Value<String>("content", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<String>("content"));
    var ctaLink = footer.Value<Link>("cTAButton", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<Link>("cTAButton"));
    var partners = footer.Value("partners", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value("partners"));
    var partnerCopy = footer.Value("partnersCopy", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value("partnersCopy"));
    @* Column 2 *@
    var col2Title = footer.Value<String>("column2Title", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<String>("column2Title"));
    var col2Links = footer.Value<IEnumerable<Link>>("column2Links", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<IEnumerable<Link>>("column2Links"));
    @* Column 3 *@
    var col3Title = footer.Value<String>("column3Title", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<String>("column3Title"));
    var col3Links = footer.Value<IEnumerable<Link>>("column3Links", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<IEnumerable<Link>>("column3Links"));
    @* Socials *@
    var facebookLink = footer.Value<Link>("facebookLink", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<Link>("facebookLink"));
    var twitterLink = footer.Value<Link>("xTwitterLink", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<Link>("xTwitterLink"));
    var instagramLink = footer.Value<Link>("instagramLink", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<Link>("instagramLink"));
    var linkedinLink = footer.Value<Link>("linkedIn", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<Link>("linkedIn"));
    @* Bottom menu *@
    var copyrightText = siteSettings.Value<String>("copyrightText", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<String>("copyrightText"));
    var bottomLinks = footer.Value<IEnumerable<Link>>("bottomLinks", fallback: Fallback.ToDefaultValue, defaultValue: siteSettings.Value<IEnumerable<Link>>("bottomLinks"));
    var dsSlug = siteSet.Value<string>("designSystemSlug");
    
    var colClass = "ds-col-lg-1-3";

    @if (String.IsNullOrEmpty(col1Title)) // make half width if 1st col not available
    {
        colClass = "ds-col-lg-1-2";
    }

    @if (String.IsNullOrEmpty(col2Title)) // make half width if 2nd col not available
    {
        colClass = "ds-col-lg-1-2";
    }

    <footer>
        <div class="ds-footer ds-footer--v2">
            <div class="ds-container">
                @* Column 1 (this section requires a title - it has validation) *@
                @if (!String.IsNullOrEmpty(col1Title))
                {
                    <section class="ds-col-1 @colClass ds-footer__updates-col">
                        <h2 class="ds-footer__heading ds-h3">@col1Title</h2>

                        @if (!String.IsNullOrEmpty(content))
                        {
                            <p>@content</p>
                        }

                        @if (ctaLink != null)
                        {
                            <a href="@ctaLink.Url" class="ds-btn ds-footer__btn ds-footer__btn--block" target="@ctaLink.Target">
                                @ctaLink.Name
                            </a>
                        }

                        @if (partners != null)
                        {
                            <div class="ds-footer__partners ds-m-b-md">
                                @Html.GetBlockListHtml(footer, "partners")
                            </div>
                            @if (partnerCopy != null)
                            {
                                @partnerCopy
                            }
                        }
                    </section>
                }

                @* Column 2 (this section requires a title - it has validation) *@
                @if (!String.IsNullOrEmpty(col2Title))
                {
                    <section class="ds-col-1 @colClass">
                        <h2 class="ds-hide-mobile ds-footer__heading ds-h3">@col2Title</h2>
                        <h2 class="ds-hide-desktop">
                            <button class="ds-col-1 ds-footer__heading ds-collapse-heading ds-h3" aria-controls="footer-menu-col2" aria-expanded="false">
                                @col2Title
                                <span class="ds-footer__collapse-button">
                                    <svg class="ds-collapse-heading__indicator">
                                        <use xlink:href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </h2>

                        @if (col2Links.Any())
                        {
                            <ul class="ds-footer__menu ds-collapse-panel ds-bare-list" id="footer-menu-col2">
                                @foreach (var col2Link in col2Links)
                                {
                                    <li>
                                        <a href="@col2Link.Url" class="ds-footer__link" target="@col2Link.Target">
                                            @col2Link.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </section>
                }

                @* Column 3  *@
                <section class="ds-col-1 @colClass">
                    @* (this section requires a title - it has validation) *@
                    @if (!String.IsNullOrEmpty(col3Title))
                    {
                        @if(@dsSlug != "ciads"){
                        <h2 class="ds-hide-mobile ds-footer__heading ds-h3">@col3Title</h2>
                        <h2 class="ds-hide-desktop">
                             <button class="ds-col-1 ds-footer__heading ds-collapse-heading ds-h3" aria-controls="footer-menu-col3" aria-expanded="false">
                                @col3Title
                                <span class="ds-footer__collapse-button">
                                    <svg class="ds-collapse-heading__indicator">
                                        <use xlink:href="#ds-general-chevron-right" href="#ds-general-chevron-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </h2>
                        }

                        @if(@dsSlug == "ciads"){
                            <h2 class="ds-footer__heading ds-h3">@col3Title</h2>
                                <div class="ds-fe-group">
                                    <div class="ds-fe-dropdown">
                                        <label class="ds-fe-label visible-hidden" for="dropdown">Change to another West Midlands region</label> 
                                        <select class="ds-fe-dropdown__select" id="dropdown" name="dropdown" onchange="if (this.value) window.location.href = this.value;">
                                            <option value="" selected="selected">Choose from list</option>
                                            <option value="/birmingham">Birmingham</option>
                                            <option value="/coventry">Coventry</option>
                                            <option value="/dudley">Dudley</option>
                                            <option value="/sandwell">Sandwell</option>
                                            <option value="/solihull">Solihull</option>
                                            <option value="/walsall">Walsall</option>
                                            <option value="/wolverhampton">Wolverhampton</option>
                                        </select>
                                    </div>
                                </div>
                        }
                        if (col3Links.Any())
                        {
                            <ul class="ds-footer__menu ds-collapse-panel ds-bare-list" id="footer-menu-col3">
                                @foreach (var col3Link in col3Links)
                                {
                                    <li>
                                        <a href="@col3Link.Url" class="ds-footer__link" target="@col3Link.Target">
                                            @col3Link.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    }

                    @* Social (this section requires at least one social link to render) *@
                    @if (facebookLink != null || twitterLink != null || instagramLink != null)
                    {
                        <h3 class="ds-footer__heading">Social media</h3>
                        <ul class="ds-footer__social-media">
                            @if (facebookLink != null)
                            {
                                <li>
                                    <a href="@facebookLink.Url" title="@facebookLink.Name" target="@facebookLink.Target" aria-label="Open Facebook page">
                                        <svg>
                                            <use xlink:href="#ds-social-facebook" href="#ds-social-facebook"></use>
                                        </svg>
                                    </a>
                                </li>
                            }
                            @if (twitterLink != null)
                            {
                                <li>
                                    <a href="@twitterLink.Url" title="@twitterLink.Name" target="@twitterLink.Target" aria-label="Open X page">
                                        <svg>
                                            <use xlink:href="#ds-social-x-logo-circle" href="#ds-social-x-logo-circle"></use>
                                        </svg>
                                    </a>
                                </li>
                            }
                            @if (instagramLink != null)
                            {
                                <li>
                                    <a href="@instagramLink.Url" title="@instagramLink.Name" target="@instagramLink.Target" aria-label="Open Instagram page">
                                        <svg>
                                            <use xlink:href="#ds-social-instagram" href="#ds-social-instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                            }
                            @if (linkedinLink != null)
                            {
                                <li>
                                    <a href="@linkedinLink.Url" title="@linkedinLink.Name" target="@linkedinLink.Target" aria-label="Open Linkedin page">
                                        <svg>
                                            <use xlink:href="#ds-social-linkedin" href="#ds-social-linkedin"></use>
                                        </svg>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </section>
            </div>
            <div class="ds-container">
                <div class="ds-footer__bottom ds-grid">
                    @* Copyright *@
                    <div class="ds-col-1 ds-col-md-1-2">
                        <p class="ds-footer__copyright">&copy; @copyrightText @DateTime.Now.Year</p>
                    </div>
                    @* Bottom links *@
                    @if (bottomLinks.Any())
                    {
                        <div class="ds-col-1 ds-col-md-1-2">
                            <ul class="ds-footer__bottom-menu">
                                @foreach (var bottomLink in bottomLinks)
                                {
                                    <li>
                                        <a href="@bottomLink.Url" class="ds-footer__link" target="@bottomLink.Target">
                                            @bottomLink.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </footer>
}
