@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wmca.Models.Content.BlogArticle>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "WestMidlandsCombinedAuthority.cshtml";
}

@await Html.PartialAsync("frontend/components/shared/breadcrumb")

<div class="ds-container">
    <main class="ds-container--main">
        <div class="template-search">
            <div class="ds-col-1 ds-col-md-2-3 ds-p-r-xl ds-m-b-lg">
                <h1>@Model.Value("alternativeTitle", fallback: Fallback.ToDefaultValue, defaultValue: Model.Value("pageName"))</h1>

                <p class="wmcads-search-result__date">
                    @{
                        var typedMultiNodeTreePicker = Model.Value<IEnumerable<IPublishedContent>>("author");
                        if (typedMultiNodeTreePicker != null)
                        {
                            foreach (var item in typedMultiNodeTreePicker)
                            {
                                <a href="#">@item.Name</a>
                            }
                        }
                    }

                    @Model.Date.ToString("d MMMM yyyy") -

                    @if (Model.Tags.Any())
                    {
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="#">@tag</a>
                        }
                    }
                </p>

                <div class="ds-warning-text ds-m-b-md">
                    <svg class="ds-warning-text__icon">
                        <use xlink:href="#ds-general-warning-circle" href="#ds-general-warning-circle"></use>
                    </svg>
                    This blog post is an opinion and may not reflect WMCA's views.
                </div>

                <div class="ds-inset-text" aria-label="Introduction">
                    @Model.Value("introduction")
                </div>

                @*@Html.GetBlockListHtml(Model, "Grid")*@

                <hr class="ds-m-t-sm ds-m-b-sm" aria-hidden="true">
                Tags:
                @if (Model.Tags.Any())
                {
                        @foreach (var tag in Model.Tags)
                        {
                            <a href="#">@tag</a>
                        }
                }

                @if (typedMultiNodeTreePicker != null)
                {
                    foreach (var author in typedMultiNodeTreePicker)
                    {
                        <div class="ds-inset-text ds-m-t-md" aria-label="About the author">
                            <b>About the author</b><br /><br />
                            @author.Name<br /><br />
                            @author.Value("jobTitle")
                        </div>
                    }
                }

            </div>
        </div>
    </main>
</div>