@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wmca.Models.Content.HomepageChangeIntoAction>
@using Umbraco.Cms.Core.Models
@using Our.Umbraco.PersonalisationGroups.Core.Services;

@inject IGroupMatchingService GroupMatchingService;

@{
    Layout = "Custom.cshtml";
    // set image
    var img = "";
    var typedMediaPickerSingle = Model.Value<MediaWithCrops>("image");
    if (typedMediaPickerSingle != null)
    {
        img = @typedMediaPickerSingle.MediaUrl();
    }

    var personalisedContent = Model.Children.Where(x => x.ShowToVisitor(GroupMatchingService)).FirstOrDefault();
    var personGroup = false;
    var area = "";

}

<script>
function localAreaSelect() {
    const pagePath = window.location.pathname; // Get the page's URL path
    const areaPages = [
      '/',
      '/coventry/',
      '/dudley/',
      '/sandwell/',
      '/solihull/',
      '/walsall/',
      '/wolverhampton/'
    ]; // S; // Set area pages (where the area menu appears) '/' == Birmingham(default)
    const anyAreaPage = areaPages.some(x => x === pagePath); // Check areaPages to see if pagePath === any of them
    const splashUrl = 'change-into-action'; // Splash URL,TODO: change this to umbraco URL
    const getSelectedArea = localStorage.getItem('cia.selectedArea'); // Get selected area from localStorage

    document.getElementById('area-dropdown').addEventListener('change', function() {
        var selectedValue = this.value;
        localStorage.setItem('cia.selectedArea', selectedValue);
    });

    // If localStorage doesn't contain a selected area and the page != splash page and the page IS an area home page
    if (getSelectedArea === null && pagePath !== splashUrl && anyAreaPage) {
      window.location.replace(splashUrl); // Then redirect the user to splash page

      // Else if the pagePath is one of the area home pages && the pagePath != localStorage(stops loops)
    } else if (anyAreaPage && pagePath !== getSelectedArea) {
      window.location.href = getSelectedArea; // Then redirect user to the area they were last on
    }

    // If page is == to any area homepages or splashpage (only pages with area select menus)
    if (anyAreaPage || pagePath === splashUrl) {
      const changeAreaNav = document.querySelectorAll(
        '.area-select'
      ); // Get all a tags in change area menu(s)

      // For each .change-area-menu a button
      changeAreaNav.forEach(ele => {
        // On click
        ele.addEventListener('click', event => {
            console.log('qwerty');
          event.preventDefault(); // Prevent default click action
          const getHref = ele.getAttribute('href'); // Get the href
          const getSessionUrl = sessionStorage.getItem('cachedUrl'); // Get the url from the previous page if the user has got to splash page via "update location button" in notification banner

          localStorage.setItem('selectedArea', getHref); // Set localstorage to href clicked (for future visits to the site we can re-direct to this page)
          // If the sessionURL is not null (user has come from previous page using "update location button")
          if (getSessionUrl != null) {
            sessionStorage.removeItem('cachedUrl'); // Remove the session storage
            window.location.href = getHref; // Redirect user back to the page from which they came
          } else {
            window.location.href = getHref; // The redirect user to the correct page
          }
        });
      });
    }
  }
  // Logic for the area dropdown in the footer
  function areaDropdownFooter() {
    const footerAreaSelect = document.querySelectorAll('footer .footer-dropdown > select');

    footerAreaSelect[0].addEventListener('change', () => {
      const selVal = footerAreaSelect[0].value;
      if (selVal === 'wolverhampton') {
        const modal = document.getElementById('wolvoModal');
        modal.style.display = 'block';
      } else {
        localStorage.setItem('selectedArea', footerAreaSelect[0].value); // Set localstorage to href clicked (for future visits to the site we can re-direct to this page)
        window.location.href = footerAreaSelect[0].value; // The redirect user to the correct page
      }
    });
  }
  // Only run function if areaDropdown is available
  if (document.querySelectorAll('footer .footer-dropdown > select').length) {
    window.addEventListener('load', areaDropdownFooter);
  }

  window.addEventListener('load', localAreaSelect); // Run localAreaSelect as soon as page loads
</script>

@section templateName{ ds-area-template}

@if (personalisedContent != null)
		{
            var birmingham = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Birmingham");
            var birminghamArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area - Birmingham");
            var coventry = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Coventry");
            var coventryArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area - Coventry");
            var dudley = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Dudley");
            var dudleyArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area -Dudley");
            var sandwell = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Sandwell");
            var sandwellArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area - Sandwell");
            var solihull = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Solihull");
            var solihullArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area - Solihull");
            var walsall = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Walsall");
            var walsallArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area - Walsall");
            var wolverhampton = @Umbraco.MatchesGroup(GroupMatchingService, "Region - Wolverhampton");
            var wolverhamptonArea = @Umbraco.MatchesGroup(GroupMatchingService, "CIA - Area - Wolverhampton");

            if (birmingham || coventry || dudley || sandwell || solihull || walsall || wolverhampton) {
                personGroup = true;
            }

            if(birmingham){area = "Birmingham";}
            if(coventry){area = "Coventry";}
            if(dudley){area = "Dudley";}
            if(sandwell){area = "Sandwell";}
            if(solihull){area = "Solihull";}
            if(walsall){area = "Walsall";}
            if(wolverhampton){area = "Wolverhampton";}

            if(birminghamArea){<script>window.location.replace("/change-into-action/birmingham");</script>}
            if(coventryArea){<script>window.location.replace("/change-into-action/coventry");</script>}
            if(dudleyArea){<script>window.location.replace("/change-into-action/dudley");</script>}
            if(sandwellArea){<script>window.location.replace("/change-into-action/sandwell");</script>}
            if(solihullArea){<script>window.location.replace("/change-into-action/solihull");</script>}
            if(walsallArea){<script>window.location.replace("/change-into-action/walsall");</script>}
            if(wolverhamptonArea){<script>window.location.replace("/change-into-action/wolverhampton");</script>}

			      @* <p>
                @birmingham - @birminghamArea, @coventry - @dudley - @sandwell - @solihull - @walsall - @wolverhampton
            </p>

            <h2>@area</h2> *@
		}

<header>
  <a href="#ds-main-content" title="Skip to main content" target="_self" class="ds-link ds-link ds-header__skip-link">Skip to main content</a>
    <!--<div class="bg-white ds-p-t-md ds-p-b-md ds-cookies-banner">-->
    <!--    <div class="ds-container">-->
    <!--        <div class="ds-col-1 ds-col-md-3-4 ds-col-lg-2-3">-->
    <!--            <h3>Your privacy settings</h3>-->
    <!--            <p>If you’re happy with the use of cookies by West Midlands Combined Authority and our selected partners, click ‘Accept all cookies’. Or click ‘Manage cookies’ to learn more.</p>-->
    <!--            <div class="ds-grid ds-grid--justify-between ds-cookies-banner__group-buttons">-->
    <!--                <button class="ds-btn" type="button">Accept all cookies</button> -->
                    <!--<a href="/patterns/cookies/#cookies_manager" title="link title" target="_self" class="ds-btn">Button text</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    
    <div class="ds-header ds-header--mega-menu">
        <div class="ds-container ds-grid ds-grid--align-center ds-grid--justify-between">
            <div class="ds-header__vertical-align ds-col-auto">
                <a class="ds-header__logo-link ds-header__logo-link-full" href="/cia" title="Change into Action Design System">
                    <img class="ds-header__logo" alt="Change into Action logo" src="/assets/img/logo/cia-logo.svg">
                </a>
            </div>
            <h1 class="ds-header__title ds-col-1 ds-col-sm-auto">Choose your area</h1>
        </div>
    </div>
</header>

<main id="ds-main-content" class="ds-container--main">
  <div class="ds-grid ds-area">
    <div class="ds-col-1 ds-col-md-1-2 ds-area-img" style="background-image:url('@img?height=800')"></div>
    <div class="bg-secondary ds-p-xl ds-col-1 ds-col-md-1-2">
      <div class="ds-grid">
        <div class="ds-col-1 ds-col-md-2-3">
          <h2>@Model.Value("title")</h2>
            @Model.Value("copy")
            @if(personGroup){
              <p>View your local area: <a class="ds-btn" href="/@area/">@area</a></p>
              <p>or</p>
            }
            <div class="ds-fe-group">
              <div class="ds-fe-dropdown">
                <label class="ds-fe-label" for="dropdown">Choose your local area</label> 
                  <select class="ds-fe-dropdown__select area-select" id="area-dropdown" name="Region selection" onchange="if (this.value) window.location.href = this.value;" aria-label="Choose your local area">
                    <option value="" selected="selected">Choose from list</option>
                    <option value="birmingham">Birmingham</option>
                    <option value="coventry">Coventry</option>
                    <option value="dudley">Dudley</option>
                    <option value="sandwell">Sandwell</option>
                    <option value="solihull">Solihull</option>
                    <option value="walsall">Walsall</option>
                    <option value="wolverhampton">Wolverhampton</option>
                  </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
    
<footer>
    <div class="ds-footer ds-footer--v2">
        <div class="ds-container ds-grid"></div>
        <div class="ds-container">
            <div class="ds-footer__bottom ds-grid">
                <div class="ds-col-1 ds-col-md-1-2">
                    <p class="ds-footer__copyright">&copy; @Model.Value("copyrightText")&nbsp;<script>document.write(new Date().getFullYear())</script></p>
                </div>
                <div class="ds-col-1 ds-col-md-1-2">
                  @{
                    var links = Model.Value<IEnumerable<Link>>("bottomLinks");
                    if (links.Any())
                    {
                    <ul class="ds-footer__bottom-menu">
                        @foreach (var link in links)
                        {
                            <li><a class="ds-footer__link" href="@link.Url" target="@link.Target">@link.Name</a></li>
                        }
                    </ul>
                    }
                  }
                </div>
            </div>
        </div>
    </div>
</footer>
