@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Wmca.Models.Content.HomepageMidlandsConnect>
    
@{
	Layout = "MidlandsConnect.cshtml";
}

<div class="ds-page-header  ds-page-header__home" style="background-image:url('https://www.wmca.org.uk/media/112jxcbb/wmca-centenary-square-77-edited.png?anchor=center&mode=crop&width=2500&height=800&rnd=132122595620000000')">
  <div class="ds-container ds-page-header-container">
        <div class="ds-page-header-box">
         <h1>Transport. Investment. Growth.</h1>
         <p>A transformational transport strategy with economic, social and environmental benefits</p>
    </div>
  </div>
</div>
<main id="ds-main-content" class="ds-container ds-m-t-lg homepage">
    <h2>Who we are</h2>
    <p>
        We research, develop and progress transport projects that will provide the biggest possible social, economic and environmental benefits for the Midlands region, and the rest of the UK. Backed by evidence, expertise and our Partnership, we can get a better transport deal for the Midlands Engine.
    </p>
    <p>
        <a href="/about-us/">Learn more about us</a>
    </p>
    <div class='ds-video-embed'>
        <iframe src='https://player.vimeo.com/video/510329103?autoplay=1&amp;muted=1' frameborder='0' allowfullscreen></iframe>
    </div>
    <h2>Our projects</h2>
    @* Render the block areas *@
    @await Html.GetBlockGridHtmlAsync(Model, "ourProjects")
    <a href="/projects/" title="Projects"><p>See all projects</p></a>
    
    <h2>Latest News</h2>
    @{
        var newslist = Umbraco.Content(Guid.Parse("9bfdc8dc-d7a8-4e14-86f2-37dfdc2d3a5f"))
        .Children()
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.Value<DateTime>("date"));
    }
    <div class="ds-css-grid-3-col ds-m-b-lg">
    @foreach (var item in newslist.Take(3))
    {
        var articleDate = item.Value<DateTime>("date");
        var date = articleDate.ToString("dd MMMM yyyy");
        <div class="ds-content-card ds-content-card--news">
           @if (@item.Value("image") != null)
            {
                var imgSrc = "/media" + @item.Value("image");
                <img src="@imgSrc?anchor=center&mode=crop&width=480&height=357&rnd=132122595620000000" alt="@item.Value("imageAlternativeText")">
            }
            else if (@item.Value("thumbnail") != null)
            {
                var image = item.Value<IPublishedContent>("thumbnail");
                <img src="@image.Url()?anchor=center&mode=crop&width=480&height=357&rnd=132122595620000000" alt="@image.Value("altText", fallback: Fallback.ToDefaultValue, defaultValue: @image.Name)" />
            }
            <p>@date</p>
            <h3><a href="@item.Url()">@item.Name</a></h3>
        </div>
    }
    </div>
    <a href="/news/" title="News"><p>See all news</p></a>
    
    @await Html.GetBlockGridHtmlAsync(Model, "featuredLinks")
</main>