@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Publication>
@using ContentModels = Wmca.Models.Content;
@using Umbraco.Cms.Core.Models
@using System;

@{
    Layout = "MidlandsConnect.cshtml";
}

@await Html.PartialAsync("frontend/components/shared/breadcrumb")

<main id="ds-main-content" class="ds-container ds-p-b-lg">
    <div class="ds-grid">
        <div class="ds-col-1 ds-col-md-2-3">
            <h1>@Model.Name</h1>
            <p>Published: @Model.Date.ToString("dddd dd MMMM yyyy")</p>

            @{
                var docImge = Model.Value<MediaWithCrops>("image");
                if (docImge != null)
                {
                    <img src="@docImge.MediaUrl()" alt="@docImge.Value("alt")" class="ds-m-b-md" />
                }
            }

            @if (Model.Value("summary") != null)
            {

                @Model.Value("summary")

            }

            <div class="ds-file-download ">
                <svg class="ds-file-download__icon">
                    <use xlink:href="#ds-general-file" href="#ds-general-file"></use>
                </svg>

                <div class="ds-file-download__desc">

                    @{
                        var document = Model.Value<MediaWithCrops>("document");

                        // Get uploaded file size in MB
                        var bytes = Convert.ToInt64(@document.Value<string>("umbracoBytes"));
                        var x = ((Math.Round(Convert.ToDecimal(@bytes) / 1048576, 1)).ToString() + " MB");
                        var y = ((Math.Round(Convert.ToDecimal(@bytes) / 1024, 1)).ToString() + " KB");
                        var fileExtension = document.Value("umbracoExtension");
                        var fileSize = (bytes >= 1048576) ? x : y;

                        if (document != null)
                        {
                            <a href="@document.MediaUrl()" class="ds-link" target="_blank">
                                Download @document.Name (@fileExtension), (@fileSize)
                            </a>
       
                            if (!document.Value<bool>("isItAccessible"))
                            {
                            <p class="ds-file-download__warning">
                                This file may not be suitable for users of assistive technology. <br>
                                <a href="/contact-us" class="ds-link">Request an accessible format.</a>
                            </p>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</main>

